.upperbox {
    height: 130.47px;
}

.imagebox {
    width: 100%;
    height: 425px;
    position: relative;

}

@media (max-width: 768px) {

    .upperbox {
        height: 80px;
    }

    .imagebox {
        width: 100%;
        height: 350px;
        position: relative;

    }

    .image {
        content: url('/BANNER MOBILE.png');
    }

}