@font-face {
    font-family: 'Gilroy-Bold';
    src: local('Gilroy-Bold'), url(../../../fonts/Gilroy/Gilroy-Bold.ttf) format('truetype');
}

.contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.duvida {
    padding-top: 48px;
    padding-bottom: 40px;
    height: 236px;
    border-style: solid;
    border-width: 1px;
    border-color: #D0D5DD;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.perguntas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 16px;

}

.btn {
    color: #FFFFFF;
    width: 207px;
    height: 48px;
}

.form_wrapper {
    margin-top: 86px;
    width: 800px;
    height: 667px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: center;

}


.form_items {
    margin-top: 55px;
    width: 480px;
    height: 436px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form_text {
    height: 70px;
}

.form_textarea {
    height: 160px;
    gap: 6px;
}

.form_textarea>input {
    border-color: #D0D5DD;
    color: #D0D5DD;

}

.form_btn {
    margin-top: 32px;
    background-color: #FF5000;
    height: 56px;
    border-radius: 8px;
}

.form_btn:hover {
    background-color: #FF5000;
    font-weight: bold;
}

.textDesktop {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    gap: 16px;

}

.gilroyText {
    font-family: 'Gilroy-Bold';
}

.textMobile {
    display: none;
}



@media (max-width: 1200px) {
    .form_wrapper {
        width: 100%;
        height: auto;
        margin: 48px 16px 0px 16px;
    }
}

@media (max-width: 768px) {

    .contato {
        margin: 0px 16px
    }



    .textDesktop {
        display: none;
    }

    .textMobile {
        margin-top: 8px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .form_items {

        width: 90vw;
        margin-top: 32px;
        padding: 0px 6px;
    }
}