@font-face {
    font-family: 'Gilroy-Bold';
    src: local('Gilroy-Bold'), url(../../../fonts/Gilroy/Gilroy-Bold.ttf) format('truetype');
}


.wrapper {
    display: flex;
    margin-top: 48px;
    gap: 32px;
}

.bloco_img {
    height: 476;
    width: 572;

}

.bloco_texto {
    display: flex;
    flex-direction: column;

}

.bloco_texto>h2 {
    font-family: 'Gilroy-Bold';
}

.bloco_item {
    width: 488px;
    display: flex;
    margin-top: 24px;

}

@media (max-width: 1200px) {

    .wrapper {
        margin-top: 32px;
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }
}

@media (max-width: 768px) {
    .wrapper {
        padding: 0px 16px;

    }

    .bloco_img {
        width: 100%;
        height: 100%;

        border-radius: 16px;

        /* height: 350px;
        position: relative; */
    }


    .bloco_item {
        padding: 0px 6px;
        width: auto;

    }




}