@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@font-face {
    font-family: 'Gilroy-Bold';
    src: local('Gilroy-Bold'), url(/fonts/Gilroy/Gilroy-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: local('Gilroy-Medium'), url(/fonts/Gilroy/Gilroy-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Gilroy-Light';
    src: local('Gilroy-Light'), url(/fonts/Gilroy/Gilroy-Light.ttf) format('truetype');
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}