.container {
    width: 1216px;
    padding: 0;
}

@media (max-width: 1200px) {
    .container {
        width: 768px;
    }
}

@media (max-width: 768px) {

    .container {
        width: auto;
    }

}

/*

@media (max-width: 640px) {
    .container {
        width: 475px;
    }
}

@media (max-width: 475px) {
    .container {
        width: 380px;
    }
}

@media (max-width: 380px) {
    .container {
        width: auto;
    }
}

*/